@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


.logo-font{
    font-family: 'Qwitcher Grypen', cursive;
    color: #fff;
    font-size: 5em;
}

.font-noto{
    font-family: 'Noto Serif KR', serif;
    font-family: 'Qwitcher Grypen', cursive;
    color: #fff;
    font-size: 5em;
}

.font-blackhan{
    font-family: 'Black Han Sans', sans-serif;
    color: #fff;
    font-size: 5em;
}

.font-hansans{
    font-family: 'Black Han Sans', sans-serif;
    color: #fff;
    font-size: 5em;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* lift CSS Area */
.lift-area{
    height: 3vh;
}


/* Header CSS Area */
.top-area{
    height: 10vh;
    position: sticky;
    /* padding-top: 5vh; */
    background: #080808aa;
    top: 0vh;
    z-index: 999;
}

.logo{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: contain;
    transform: scale(.5);
}

/* Header CSS Area */

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Main CSS Area */
.main-area{
    position: relative;
    padding-top: 15vh;
    height: 50vh;
}

.in-box>.part-box>.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.in-box>.part-box ul{
    width: 100%;
    height: 100%;
}

.in-box>.part-box ul li{
    position: relative;
    flex-shrink: 0;
    flex-basis: 100%;
}
.in-box>.part-box ul li h2{
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 40px;
}


.in-box>.part-box ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid #3f3f3f;
}

/* 버튼 위치 조정을 위한 CSS */
.in-box>.part-box>.prev{
    position: relative;
    font-size: min(5vw,50px);
    text-decoration: none;
    top: 50%;
    left: -40%;
    transform: translateY(-50%);
}

.in-box>.part-box>.next{
    position: relative;
    font-size: min(5vw,50px);
    text-decoration: none;
    top: 40%;
    right: -40%;
    transform: translateY(-50%);
}

.in-box>.part-box>.banner_text{
    width: 100%;
    height: 100%;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */

.second-area{
    padding-top: 5vh;
    height: 8vh;
}

/* .bar-area{
    margin-top: 10px;
    height: 10px;
} */

.third-area{
    margin-top: 15vh;
    height: 60vh;
}

.four-area{
    margin-top: 5vh;
    height: 8vh;
}

/* Main CSS Area */

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Footer CSS Area */
.footer-area_1{
    padding-top: 13vh;
    height: 25vh;
}

.caption_1{
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.80);
    border-radius: 20px;
    border: 1px solid #3f3f3f;
    box-shadow: 3px 3px 10px #1e1e1e7b;
}

.footer-area_2{
    padding-top: 12vh;
    height: 20vh;
}

.caption_2{
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.80);
    border-radius: 20px;
    border: 1px solid #3f3f3f;
    box-shadow: 3px 3px 10px #1e1e1e7b;
}
.caption_3{
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.80);
    border-radius: 20px;
    border: 1px solid #3f3f3f;
    box-shadow: 3px 3px 10px #1e1e1e7b;
}
.caption_4{
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.80);
    border-radius: 20px;
    border: 1px solid #3f3f3f;
    box-shadow: 3px 3px 10px #1e1e1e7b;
}
.caption_2>h2{
    color: red;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////// */

.indic-hold{
    position: sticky;
    z-index: 99;
    top: 90%;
}

.page-indic{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 15px 0;
    bottom: 10%;
    right: 10%;
}

.page-indic li{
    position: relative;
    width: 20px;
    height: 60px;
}

.page-indic li img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.page-indic li img:last-child {
    opacity: 0;
}

.page-indic li.on img:last-child{
    opacity: 1;
}

/* Footer CSS Area */

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Common CSS Area */
.in-box{
    position: relative;
    max-width: 1650vw;
    height: 100%;
    margin: 0 auto;
}
.part-box{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}
/* Common CSS Area */

/***************************************************************************************************
슬라이드 쇼 들어갈 공간
**************************************************************************************************/

.slideshow-are{
    width: 100%;
    height: 100%;
    position: relative;
}

.slideshow{
    width: 100%;
    height: 100%;
}

.slideshow_2{
    width: 100%;
    height: 100%;
}

.fade{
    animation: fade .2s ease-in forwards;
}

@keyframes fade {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}