@charset "uft-8";

  /* 메뉴 버튼에 마우스 오버시 동작 */

  .menu-Btn-1:hover{
    color: rgb(73, 53, 53);
    transform: scale(1.5);
    cursor: pointer;
 }

 .menu-Btn-2:hover{
    color: rgb(73, 53, 53);
    transform: scale(1.5);
    cursor: pointer;
 }

 .menu-Btn-3:hover{
    color:rgb(73, 53, 53);
    transform: scale(1.5);
    cursor: pointer;
 }

 .menu-Btn-4:hover{
    color:rgb(68, 70, 113);
    transform: scale(1.02);
    cursor: pointer;
    animation: button-efc 1s linear forwards
 }
 .menu-Btn-5:hover{
    color:rgb(68, 70, 113);
    transform: scale(1.02);
    cursor: pointer;
    animation: button-efc 1s linear forwards
   }

 .menu{
    z-index: 99;
    position: absolute;
    width: 200px;
    height: 100vh;
    background-color: black;
 }

 @keyframes button-efc {

   from{
      background: #1a1c23;
      color:rgb(68, 70, 113);
   }
   to{
      background: #303c49;
      color: #e6e6e6;
   }
   
 }