@charset "utf-8";

/* Button & Text & Image Area */

.menu-Btn-1{
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0);
    border: 0px solid;
    color: white;
    font-size: 1.2rem;
    position: relative;
    text-align: center;
    z-index: 9999;
}

.menu-Btn-2, .menu-Btn-3{
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0);
    border: 0px solid;
    color: white;
    font-size: 1.2rem;
    position: relative;
    text-align: center;
}


.menu-Btn-4, .menu-Btn-5{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.2rem;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 30px;
    background: #444;
    white-space: nowrap;
    text-size-adjust: auto;
    overflow: hidden;
    text-align: center;
}

/* Button & Text & Image Area */

/* [class*='banner'] {
    object-fit: cover;
} */


.banner_1, .banner_3 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid rgba(86, 86, 86, 0.658);
    box-shadow: 3px 3px 10px #1e1e1e7b;
}

.banner_2, .banner_4 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid rgba(86, 86, 86, 0.658);
    box-shadow: 3px 3px 10px #1e1e1e7b;
}

.banner_5{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid rgba(150, 150, 150, 0.637);
    box-shadow: 3px 3px 10px #1e1e1e7b;
}

.prev{
    cursor: pointer;
    /* position: relative; */
    float: right;
    /* top: 40%; */
    width: auto;
    /* padding: 16px; */
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.next {
    cursor: pointer;
    /* position: relative; */
    /* top: 40%; */
    width: auto;
    /* padding: 16px; */
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }