@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


.logo-font{
    font-family: 'Qwitcher Grypen', cursive;
    color: #fff;
    font-size: 5em;
}

.font-noto{
    font-family: 'Noto Serif KR', serif;
    font-family: 'Qwitcher Grypen', cursive;
    color: #fff;
    font-size: 5em;
}

.font-blackhan{
    font-family: 'Black Han Sans', sans-serif;
    color: #fff;
    font-size: 5em;
}

.font-hansans{
    font-family: 'Black Han Sans', sans-serif;
    color: #fff;
    font-size: 5em;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Header CSS Area */
.top-area{
    margin-top: 60px;
    margin-bottom: 70px;
    height: 90px;
    position: sticky;
    background: #000000aa;
    top: 5px;
}

.logo{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
}

/* Header CSS Area */

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Main CSS Area */
.main-area{
    height: 450px;
}

.second-area{
    margin-top: 100px;
    height: 200px;
}

.bar-area{
    margin-top: 10px;
    height: 10px;
}

.third-area{
    margin-top: 100px;
    height: 700px;
}

.four-area{
    margin-top: 40px;
    height: 70px;
}

/* Main CSS Area */

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Footer CSS Area */
.footer-area_1{
    margin-top: 100px;
    height: 250px
}

.caption_1{
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.80);
    border-radius: 20px;
    border: 1px solid #3f3f3f;
    box-shadow: 3px 3px 10px #1e1e1e7b;
}

.footer-area_2{
    margin-top: 80px;
    margin-bottom: 200px;
    height: 200px
}

.caption_2{
    width: 100%;
    height: 100%;
    background: white;
}
.caption_3{
    width: 100%;
    height: 100%;
    background: white;
}
.caption_4{
    width: 100%;
    height: 100%;
    background: white;
}


/* Footer CSS Area */

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Common CSS Area */
.in-box{
    max-width: 1650px;
    height: 100%;
    margin: 0 auto;
}
.part-box{
    width: 100%;
    height: 100%;
    float: left;
}

.part-box>button{
    padding: 25px 40px;
}
/* Common CSS Area */


/***************************************************************************************************
슬라이드 쇼 들어갈 공간
**************************************************************************************************/

.slideshow-are{
    width: 100%;
    height: 100%;
    position: relative;
}

.slideshow{
    width: 100%;
    height: 100%;
    display: none;
}

.slideshow_2{
    width: 100%;
    height: 100%;
    display: none;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}