@charset "utf-8";

@import url(./area\ copy.css);
@import url(./fuc\ copy.css);
@import url(./button.css);
@import url(./nav.css);

.col-0-5{width: 4%;}
.col-1 {width: 8.33%;}
.col-1-5 {width: 12.495%}
.col-2 {width: 16.66%;}
.col-2-5 {width: 20%;}
.col-3 {width: 25%;}
.col-3-5 {width: 28.6%;}
.col-4 {width: 33.33%;}
.col-4-5 {width: 37.48%;}
.col-5 {width: 41.66%;}
.col-5-5 {width: 45.81%;}
.col-6 {width: 50%;}
.col-6-5 {width: 54.15%;}
.col-7 {width: 58.33%;}
.col-7-5 {width: 62.48%;}
.col-8 {width: 66.66%;}
.col-8-5 {width: 70.81%;}
.col-9 {width: 75%;}
.col-9-5 {width: 79.14%;}
.col-10 {width: 83.33%;}
.col-10-5 {width: 87.47%;}
.col-11 {width: 91.66%;}
.col-11-5 {width: 95.8%;}
.col-12 {width: 100%;}
/* Width setting */

html::-webkit-scrollbar{
    display: none;
}

html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* background Image Set */
body{
    background: #222222 url(../02.\ image/main_bg_img_black_more.png) no-repeat fixed center/200%;
    object-fit: fill;
}

.clb::after {
    content: '';
    display: block;
    clear: both;
}

.page{
    height: 90vh;
}