@charset 'utf-8';

html{
    font-size: 16px;
}

html, body, h1, h2, h3{
    margin: 0;
    padding: 0;
}

.parent{
    position: relative;
    width: 100%;
    height: 100%;
}

.page1{
    position: sticky;
    top: 0;
    background-image: url(../IMAGE/backimg.jpeg);
    width: 99vw;
    height: 100vh;
    object-fit: contain;
    opacity: .3;
    transition: all 2s;
}
.page2{
    position: relative;
    width: 99vw;
    height: 100vh;
    opacity: .3;
    background-color: red;
    transition: all 1s;
}

.page2 h1{
    position: absolute;
    font-size: 4rem;
    left: 10%;
    top: 0;
}

.page3{
    position: relative;
    width: 99vw;
    height: 100vh;
    background-color: blue;
}