@charset "utf-8";

@import url(../CS_button_new.css);
@import url(../CS_fuc_new.css);
@import url(../CS_nav_new.css);
@import url(../CS_area_new.css);

.col-0-5{width: 4%;}
.col-1 {width: 8.33%;}
.col-1-5 {width: 12.495%}
.col-2 {width: 16.66%;}
.col-2-5 {width: 20%;}
.col-3 {width: 25%;}
.col-3-5 {width: 28.6%;}
.col-4 {width: 33.33%;}
.col-4-5 {width: 37.48%;}
.col-5 {width: 41.66%;}
.col-5-5 {width: 45.81%;}
.col-6 {width: 50%;}
.col-6-5 {width: 54.15%;}
.col-7 {width: 58.33%;}
.col-7-5 {width: 62.48%;}
.col-8 {width: 66.66%;}
.col-8-5 {width: 70.81%;}
.col-9 {width: 75%;}
.col-9-5 {width: 79.14%;}
.col-10 {width: 83.33%;}
.col-10-5 {width: 87.47%;}
.col-11 {width: 91.66%;}
.col-11-5 {width: 95.8%;}
.col-12 {width: 100%;}
/* Width setting */

html, body, h1, h2, h3, h4, h5, h6, ul, li, ol{
    margin: 0;
    padding: 0;
}

/* background Image Set */
.main-body{
    background: #222222 url(../02.\ image/main_bg_img_black_more.png) no-repeat fixed center/200%;
    object-fit: fill;
}

.btn_sticky{
    position: absolute;
    width: 100%;
    height: 200%;
}

#btn_home{
    position: sticky;
    top: 80%;
    left: 90%;
    width: 80px;
    height: 80px;
    font-size: 30px;
    background-image: linear-gradient(#ffffff, #bcb8cc);
    border: 1px solid #e9e9e9;
    color: #414141;
    border-radius: 50%;
}

#btn_home:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.second-body{
    background: #ffffff;
    width: 100%;
    height: 100%;
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

.clb::after {
    content: '';
    display: block;
    clear: both;
}

.page{
    height: 90vh;
}

.top-area{
    height: 10vh;
    position: sticky;
    /* padding-top: 5vh; */
    background: #080808aa;
    top: 0vh;
    z-index: 999;
}

/* ***************************************************************************************************** */

.menuimg{
    margin-bottom: 5vh;
}

.menuimg img{
    position: relative;
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: 10% 60%;
}

.gridbox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 80px;
    grid-column-gap: 50px;
    height: 100%;
    margin-bottom: 8%;
}

.gridbox ul{
    position: relative;
    aspect-ratio: 1/1.2;
    width: 100%;
    height: 100%;
}

.grid-item{
    width: 100%;
    height: 100%;
}

.grid-item img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.lef{
    height: 100px;
}

.whiskey-name{
    text-align: center;
}


/* ************************************************************ */
/* footerbox */

.footer-box{
    position: relative;
    width: 100%;
    height: 15vh;
    background: #474747;
}

.my_info{
    position: relative;
    top: 10%;
}

.my_info p{
    font-size: 20px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

.info_icon{
    display: flex;
}

.info_icon ul{
    display: flex;
    gap: 0 15px;
}

.info_icon a{
    position: relative;
    top: 50%;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.scotch-map{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.s-map{
    position: absolute;
    top: calc(40%/2);
    left: calc(67%/2);
    width: 600px;
    height: 600px;
    opacity: 0;
    object-fit: fill;
    z-index: 99999999;
}

.s-map.on{
    opacity: 1;
}

body.on::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
    z-index: 999999;
}

.cbtn{
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    opacity: 0;
    cursor: pointer;
    z-index: 999999999;
}

.cbtn.on{
    opacity: 1;
}


/* 기본 포커스 아웃라인 제거 */
.cbtn:focus{
    outline: none;
}